/* BackToTop button css */

#scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: rgba(235, 235, 235, 0.25);
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #59C1D9;
}

#scroll:hover {
    box-shadow: 0px -1px 5px #bbbbbb;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}


/* Underline text */

.underline_highlight {
    text-decoration: underline 3px solid #80d9ff;
}


/* Normal text and hover such as link text */

.text_hover {
    color: #000;
}

.text_hover:hover {
    color: #1ea4d9;
}


/* App menu current style */

.current_menus {
    color: #0d6efd;
}

#current_menus_hover li a:hover {
    color: blue;
}


/* Admin menu current style */

.current_menus2 {
    color: rgba(0, 255, 255);
}

#current_menus_hover2 li a:hover {
    color: rgba(0, 255, 255, 0.8);
}